{% extends "::base.html.twig" %}

{% block title %}Liste des sociétés{% endblock %}

{% block body %}
    <h2>Liste des sociétés</h2>
    <table class="table table-striped table-hover">
        {% for societe in societes %}
        <tr>
            <td>{{ societe.nom }}</td>
            <td>
                <a href="{{ path('app_societe_show', {'id': societe.id}) }}" class="btn btn-primary btn-xs">Afficher</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
